/*-----variables-----*/
:root {
    --header-color: #00CC00;
    --backgroundcolor: #EDEDED;
}
/*----/variables-----*/

/*-----main-----*/
a {
	text-decoration: none;
}


body {
    margin: 0px;
    background-color: var(--backgroundcolor);
    background-image: url(images/background10.png);
    background-repeat: repeat;
}


.container {
    min-width: 1135px;
    width: 100%;
    min-height: 100%;
}


.header {
    height: 75px;
    background: var(--header-color);
    box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.5);

}


.content {
}


.main_separator {
	height: 50px;
	background-color: rgba(0,0,0,0);

}


.footer {
    height: 50px;
    background-color: black;
    color: white;
    width: 100%;
    min-width: 1135px;
    margin-top: -50px;
}
/*----/main-----*/

/*-----header-----*/
#logo {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: 65px;
    height: 65px;
}


#brand {
    float: left;
    width: auto;
    height: 45px;
    margin-top: 15px;
	padding-left: 15px;

	font-family: 'Raleway', sans-serif;
	font-weight: 500;
    font-size: 45px;
    line-height:45px;
    letter-spacing: 3px;
	color: black;
}


#register-button {
    float: right;
    margin-top: 25px;
    margin-right: 30px;

    width: 145px;
    height: 25px;
    transition: all 0.15s linear;

    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-family: 'Caption', Sans-serif;
    line-height: 25px;
    color: #336600;
}


#register-button:hover {
    color: rgba(255, 255, 102, .75);
}


#login-button {
    float: right;
    margin-right: 30px;
    margin-top: 16.5px;

    width: 100px;
    height: 40px;
    background: #009900;
    border-radius: 8px;
    transition: all 0.3s linear;


    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .15);
    color: black;
    font-family: 'Caption', Sans-serif;
    font-size: 25px;
    line-height: 40px;

    box-shadow:
        inset 0px 1px 1px rgba(255, 255, 255, .25),
        inset 0px -1px 1px rgba(255, 255, 255, .25),
        inset 1px 0px 1px rgba(255, 255, 255, .25),
        inset -1px 0px 1px rgba(255, 255, 255, .25);
}


#login-button:hover {
    background: #00AA00;
    box-shadow:
        inset 0px 1px 1px rgba(255, 255, 255, .25),
        inset 0px -1px 1px rgba(255, 255, 255, .25),
        inset 1px 0px 1px rgba(255, 255, 255, .25),
        inset -1px 0px 1px rgba(255, 255, 255, .25);
}


.profile-logout {
	display: none;
	
    float: right;
	width: 110px;
	height: 35px;
    margin-right: 30px;
    margin-top: 17.5px;
	padding-top: 7.5px;
	padding-bottom: 2.5px;

    background-color: #737373;
    border-radius: 8px;
	
	text-align: center;
	font-family: 'Caption', sans-serif;
	font-size: 25px;
	color: black;
	text-decoration: none;
}


#user {
    float: right;
    margin-top: 22.5px;
    margin-right: 30px;
    height: 30px;

    font-size: 30px;
    line-height: 30px;
}


label[for='submenu-position']{
	cursor: pointer;
}


div label[for='submenu-position']{
	padding-left: 15px;
	
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}


#submenu-position {
    position: absolute;
    top: -999px;
    left: -999px;
}


.header-submenu {
	transform: scaleY(0);
    transform-origin: 0 0;
	transition: .1s ease-in-out;

    position: absolute;
    top: 75px;
    right: 10px;
	
	padding-top: 4px;
	padding-bottom: 4px;
	width: 135px;
    border: 1px solid rgba(0, 0, 0, .25);
    border-top: none;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background: white;

}


.header-submenu a {
    display: block;
	padding: 0px 15px 0px 15px;
    width: 105px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}


.header-submenu a:hover {
    background: lightgrey;
}


.header-submenu div {
	margin-top: 3px;
	margin-bottom: 4px;
	margin-right: 15px;
	margin-left: 15px;
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	height: 0px;
}


#submenu-position:focus + #user .header-submenu {
	opacity: 1;
	transform: scaleY(1);
}


#user .header-submenu:hover {
	opacity: 1;
	transform: scaleY(1);
}


#header-avatar {
    display: block;
    float: right;
    margin-top: 8.5px;

    width: 55px;
    height: 55px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
}
/*----/header-----*/

/*-----content/authorization-----*/
.login-back, .register-back {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
	margin-bottom: 80px;

    width: 450px;
    background: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
}


.authorization-description {
	margin-left: auto;
	margin-right: auto;

	width: 400px;
}


.authorization-description h1 {
	margin-top: 0;
	margin-bottom: 0;

	height: 35px;

	text-align: center;
	font-size: 35px;
	line-height: 35px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
}


.authorization-description .authorization-instructions, .authorization-description .login-error {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    width: 400px;
    height: 30px;

    text-align: center;
    font-size: 15px;
    line-height: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}


.login-error, .register-error {
    color: red;
}


.authorization-label {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    width: 400px;
    height: 18px;

    line-height: 18px;
    font-size: 18px;
	font-family: 'Roboto Slab', serif;
	font-weight: normal;
}


#login-form input, #register-form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;

    width: 400px;
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    outline: none;
}


#login-form input:focus:not(.authorization-submit), #register-form input:focus:not(.authorization-submit) {
	border: 1px solid green;
	box-shadow: 0 0 2px green;
}


#login-form .authorization-submit, #register-form .authorization-submit, .avatar-to-profile, .to-avatar {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    height: 40px;
    border-radius: 2px;
    background: white;
    transition: all 0.3s linear;
	cursor: pointer;

    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    color: #008800;
    font-family: 'Caption', Sans-serif;
    font-size: 25px;
    line-height: 40px;
    box-shadow: none;
}


#login-form .authorization-submit {
    width: 100px;
}


#register-form .authorization-submit {
    width: 250px;
}


#login-form .authorization-submit:hover, #register-form .authorization-submit:hover, .avatar-to-profile:hover, .to-avatar:hover {
    border: 1px solid rgba(0, 0, 0, .15);
    background: var(--backgroundcolor);
    color: black;
    box-shadow:
        inset 0px 1px 1px rgba(255, 255, 255, .5),
        inset 0px -1px 1px rgba(255, 255, 255, .5),
        inset 1px 0px 1px rgba(255, 255, 255, .5),
        inset -1px 0px 1px rgba(255, 255, 255, .5);
}


.the_letter_was_sent {
	margin: auto;
	margin-top: 40px;
	border: 0 solid black;
	border-radius: 5px;
	padding: 10px;
	width: 800px;
	
	text-align: center;
	font-family: 'Caption', sans-serif;
	font-size: 20px;
	background-color: white;
	color: green;
}


.the_letter_was_sent span {
	font-style: italic;
}
/*----/content/authorization-----*/

/*-----content/profile-----*/
.profile-back {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
	margin-bottom: 40px;

    width: 1001px;
    height: 501px;
    background: white;
    border-radius: 10px;
    border: 1px solid black;
}


.profile-avatar {
    float: left;

    width: 300px;
    height: 300px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}


.profile-avatar img {
    margin-top: 20px;
	margin-left: 20px;
    border: 2px solid black;
    border-radius: 10px;
	
	transition: all 0.3s linear;
}


.profile-avatar img:hover {
	filter: saturate(0.5);
}


.user-info {
    float: right;
    width: 660px;
    height: 260px;
    border-bottom: 1px solid black;
    padding: 20px;
}


.user-info .nick {
    height: 50px;
    background: grey;
    border-radius: 6px;

    padding-left: 20px;
    line-height: 46px;
	font-family: 'Raleway', sans-serif;
    font-size: 45px;
}


.user-info .nick a {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    transition: all 0.1s linear;

    width: 40px;
    height: 40px;
    background: #1CCC1F;
    border-radius: 4px;
}


.user-info .nick a:hover {
    background: lawngreen; /* lawngreen */
}


.logoutimg {
	margin: 2.5px;
}


.information  table tr td {
	font-family: 'Caption', sans-serif;
}


.profile-second {
    display: none;
}


/*----/content/profile-----*/

/*-----content/index-----*/
.greetings {
	margin-top: 40px;
	margin-bottom: 10px;
	
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
	font-weight: 400;
}


.course {
    width: 500px;
    height: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-size: 22px;
    font-family: 'Roboto Condensed';
}

.languages {
	width: 400px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 25px;
	margin-top: 15px;
}


.lang {
	width: 325px;
	margin: auto;
	margin-bottom: 15px;
	transition: all 0.15s linear;
}


.lang:hover {
	width: 400px;
}


.flag {
	display: inline-block;
}


.flag-icon {
	width: 0px;
	height: 75px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: all 0.15s linear;
}


.lang:hover .flag-icon {
	width: 75px;
}


.language-name {
	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
	height: 75px;
	width: 307px;
	line-height: 75px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-left: 3px solid green;
	transition: all 0.15s linear;
	
	background-color: white;
    text-align: left;
	text-decoration: none;
	font-family: 'Roboto Condenced', sans-serif;
    font-size: 20px;
	color: black;
}
/*----/content/index-----*/

/*-----content/language_page-----*/
.language {
    background-color: orange;
    width: 700px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	cursor: default;
    text-align: center;
    line-height: 65px;
	font-family: 'Caption', sans-serif;
    font-size: 40px;
	color: orangered;
}


.all-sections {
    overflow: auto;
}


.type-choices {
	width: 700px;
	height: 43px;
	margin: auto;
	margin-bottom: 15px;
}


#lex-button, #gram-button {
    width: 300px;
	height: 35px;
    float: left;
	border-top: 5px solid green;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 10px;
	padding-top: 3px;
	
	transition: all 0.25s linear;
	font-family: 'Caption', sans-serif;
	font-size: 25px;
	cursor: pointer;
}


#gram-button {
    float: right;
}


#lex-button:hover, #gram-button:hover {
	background: rgba(0, 128, 0, 0.5)
}


#lex-sections, #gram-sections {
	margin: auto;
	width: 700px;
	margin-bottom: 40px;
}


.lex-sec {
	display: inline-block;
	width: 121px;
	border-top-right-radius: 60.5px;
	border-top-left-radius: 60.5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-right: 15px;
	margin-bottom: 15px;
	transition: all 0.5s linear;
	
	background-color: white;
}


.lex-sec:hover {
	background-color: lightgrey;
}


#lex-sections .sec-logo {
    width: 115px;
    height: 115px;
	line-height: 115px;
    border: 3px solid green;
    border-radius: 50%;
	
	background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 30px;
	color: black;
}


#lex-sections .sec-name {
    display: block;
    height: 40px;
	line-height: 40px;
    border-radius: 10px;
	
    text-align: center;
	font-family: 'Roboto Condenced', sans-serif;
    text-decoration: none;
	color: black;
}


#gram-sections .gram-sec {
	height: 50px;
	border-radius: 10px;
	
	background-color: white;
	font-family: 'Caption', sans-serif;
	color: black;
	line-height: 50px;
}


#gram-sections .sec-name {
	display: inline-block;
	width: 584px;
	margin-left: 12.5px;
	border-left: 3px solid green;
	padding-left: 7.5px;
	transition: all 0.3s linear;
	
	font-size: 25px;
}


#gram-sections .active .sec-name {
	border-left: 3px solid orange;
}


#gram-sections .locked .sec-name {
	border-left: 3px solid lightgrey;
	color: lightgrey;
}


#gram-sections .gram-sec:hover:not(.locked) .sec-name {
	background-color: lightgrey;
}


#gram-sections .active:hover .sec-name {
	background-color: rgba(255, 165, 0, 0.5);
}


#gram-sections .sec-url {
	display: inline-block;
	width: 70px;
	float: right;
	margin-right: 12.5px;
	padding-left: 7.5px;
	border-left: 3px solid green;
	
	font-size: 17.25px;
}


#gram-sections .active .sec-url {
	border-left: 3px solid orange;
}


#gram-sections .locked .sec-url {
	border-left: 3px solid lightgrey;
	color: lightgrey;
}


#gram-sections .gram-path-left, #gram-sections .gram-path-right {
	display: inline-block;
	padding-left: 9.4px;
	
	font-family: 'Caption', sans-serif;
	font-weight: bold;
	color: green;
	cursor: default;
}


#gram-sections .gram-path-right {
	float: right;
	padding-left: 0px;
	padding-right: 86.55px;
	cursor: default;
}


#gram-sections .active .gram-path {
	color: orange;
}


#gram-sections .locked .gram-path {
	color: lightgrey;
}


#gram-sections .gram-path:first-child {
	display: none;
}
/*----/content/language_page-----*/

/*-----content/avatar_change-----*/
.avatar-back {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
	margin-bottom: 40px;

    width: 450px;
    background: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.avatar-back h1 {
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
	font-size: 35px;
	line-height: 35px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
}


.avatar-back p {
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 15px;
	
    font-size: 17.5px;
    line-height: 17.5px;
    font-family: 'Roboto Condensed', sans-serif;
}


.current-avatar {
	margin-left: 15px;
    margin-top: 0px;
	margin-bottom: 20px;
    width: 435px;
	height: 181px;
}


.current-avatar p {
	margin-left: 186px;
	margin-bottom: 0px;
	border-left: 3px solid green;
	padding-top: 131px;
	padding-left: 3px;
	width: 100px;
	
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 25px;
	font-size: 25px;
}


.current-avatar img {
	border: 3px solid green;
	border-radius: 15px;
	float: left;
}


.avatar-error {
	display: none;
}


#avatar-change-form, #avatar-delete-form{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	
	width: 400px;
}


#avatar-change-form input[type='radio'], #avatar-delete-form input[type='checkbox'] {
    display: none;
}


#avatar-change-form label{
	height: 0px;
}


#avatar-change-form img, #avatar-delete-form img {
	border: 2px solid white;
	border-radius: 7px;
	width: 64px;
	height: 64px;
	cursor: pointer;
}


#avatar-change-form input:checked + img, #avatar-delete-form input:checked + img {
    border: 2px solid green;
}


.remove-avatar {
	display: block;
	margin-top: 3px;
	margin-bottom: 5px;
	border-left: 0.5px dashed gray;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px;
	width: 105px;
	
	font-family: 'Caption', sans-serif;
	font-size: 12.5px;
	line-height: 12.5px;
	text-decoration: none;
	color: black;
	transition: all 0.35s linear;
}


.remove-avatar:hover {
	background-color: rgba(128, 128, 128, 0.5);
}


.avatar-back input[type='submit'] {
	margin: 0px;
	height: 23px;
	width: 93px;
	border: none;
	border-left: 2px solid green;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 3px;
	padding-right: 5px;
	cursor: pointer;
	transition: all 0.35s linear;
	
	text-align: left;
	background-color: white;
	font-family: 'Caption', sans-serif;
	font-size: 13px;
	line-height: 13px;
}


.avatar-change-button:hover, .avatar-back input[type='submit']:hover {
	background-color: green;
}


#avatar-addition-form {
	margin-left: 15px;
	margin-bottom: 20px;
}


#avatar-addition-form label:not(.upload-avatar), #id_avatar{
	display: none;
}


.upload-avatar {
	display: block;
	margin-bottom: 5px;
	border: 3px dashed rgba(0, 0, 0, 0.5);
	padding: 10px;
	width: 170px;
	
	transition: all 0.45s linear;
	cursor: pointer;
	text-align: center;
	font-family: 'Caption', sans-serif;
	color: rgba(0, 0, 0, 0.5);
}


.upload-avatar:hover {
	border: 3px solid green;
	color: green;
}


p.avatar-addition-attention {
	margin-left: 0px;
	width: 196px;
	
	font-size: 12.5px;
	line-height: 12.5px;
	color: gray;
}


.avatar-to-profile {
	width: 300px;
}


.to-avatar {
	width: 200px;
	
	font-size: 20px;
}
/*----/content/avatar_change-----*/


/*-----content/lesson_page-----*/
.lesson-back {
	width: 700px;
	margin: auto;
	margin-bottom: 40px;
	border-radius: 15px;
	padding-top: 15px;
	
	background-color: white;
}


.lesson-name {
	margin-top: 40px;
	margin-bottom: 15px;
	
	text-align: center;
	font-family: 'Roboto Condenced', sans-serif;
	font-size: 30px;
	color: green;
}


.lesson-back .words {
	margin-bottom: 10px;
}


.lesson-back .words div {
	display: inline-block;
	width: 345px;
	padding-right: 5px;
	
	font-family: 'Roboto Condenced', sans-serif;
	font-size: 15px;
	text-align: right;
}


.lesson-back .words div:nth-child(2) {
	padding-right: 0px;
	padding-left: 5px;
	
	text-align: left;
}


#task-button, #finish-button {
	width: 120px;
	margin-left: 565px;
	margin-bottom: 15px;
	border: 3px solid green;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: all 0.5s linear;
	outline: none;
	
	background-color: var(--header-color);
	text-align: center;
	font-family: 'Caption', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: green;
}


#finish-button {
	margin-left: 290px;
	margin-right: 290px;
}


#task-button:hover, #finish-button:hover {
	background-color: lawngreen;
}


.task {
	margin-bottom: 15px;
}


.lesson-back .question {
	width: 300px;
	margin: auto;
	margin-bottom: 17.5px;
	
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}


.lesson-back .answer {
	width: 250px;
	margin: auto;
	
	font-family: 'Roboto Condenced', sans-serif;
	font-size: 15px;
}


.lesson-back .answer-text {
	width: 150px;
	margin: auto;
}


.lesson-back .answer-text .input {
	width: 150px;
}


.lesson-back .finish p {
	margin-top: 0px;
	margin-bottom: 15px;
	
	text-align: center;
	font-family: 'Roboto Condenced', sans-serif;
	font-size: 25px;
}


#lesson-score {
	margin-bottom: 15px;
	
	text-align: center;
	font-family: 'Caption', sans-serif;
	font-size: 30px;
	color: green;
}
/*----/content/lesson_page-----*/