.login-back, .register-back {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
	margin-bottom: 80px;

    width: 450px;
    background: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
}


.authorization-description {
	margin-left: auto;
	margin-right: auto;

	width: 400px;
}


.authorization-description h1 {
	margin-top: 0;
	margin-bottom: 0;

	height: 35px;

	text-align: center;
	font-size: 35px;
	line-height: 35px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
}


.authorization-description .authorization-instructions, .authorization-description .login-error {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    width: 400px;
    height: 30px;

    text-align: center;
    font-size: 15px;
    line-height: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}


.login-error, .register-error {
    color: red;
}


.authorization-label {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    width: 400px;
    height: 18px;

    line-height: 18px;
    font-size: 18px;
	font-family: 'Roboto Slab', serif;
	font-weight: normal;
}


#login-form input, #register-form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;

    width: 400px;
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    outline: none;
}


#login-form input:focus:not(.authorization-submit), #register-form input:focus:not(.authorization-submit) {
	border: 1px solid green;
	box-shadow: 0 0 2px green;
}


#login-form .authorization-submit, #register-form .authorization-submit, .avatar-to-profile {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    height: 40px;
    border-radius: 2px;
    background: white;
    transition: all 0.3s linear;
	cursor: pointer;

    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    color: #008800;
    font-family: 'Caption', Sans-serif;
    font-size: 25px;
    line-height: 40px;
    box-shadow: none;
}


#login-form .authorization-submit {
    width: 100px;
}


#register-form .authorization-submit {
    width: 250px;
}


#login-form .authorization-submit:hover, #register-form .authorization-submit:hover, .avatar-to-profile:hover {
    border: 1px solid rgba(0, 0, 0, .15);
    background: var(--backgroundcolor);
    color: black;
    box-shadow:
        inset 0px 1px 1px rgba(255, 255, 255, .5),
        inset 0px -1px 1px rgba(255, 255, 255, .5),
        inset 1px 0px 1px rgba(255, 255, 255, .5),
        inset -1px 0px 1px rgba(255, 255, 255, .5);
}


.the_letter_was_sent {
	margin: auto;
	margin-top: 40px;
	border: 0 solid black;
	border-radius: 5px;
	padding: 10px;
	width: 800px;
	
	text-align: center;
	font-family: 'Caption', sans-serif;
	font-size: 20px;
	background-color: white;
	color: green;
}


.the_letter_was_sent span {
	font-style: italic;
}
