{% load avatar_tags %}
{% include 'main/header.html' %}

<div class="avatar-back">
	<h1>Изменение аватара профиля</h1>
    <div class="current-avatar">
        {% avatar user 175 %}
		<p>Текущий аватар</p>
    </div>
    {% if not avatars %}
        <div class="avatar-error">Нет аватаров</div>
    {% else %}
		<p>Выбрать из загруженных</p>
        <form method="POST" action="{% url 'avatar_change' %}" id="avatar-change-form">
            {% for field in primary_avatar_form %}
                {% for choice in field %}
                    {{ choice }}
                {% endfor %}
            {% endfor %}
            {% csrf_token %}
			<a class='remove-avatar' href="/main/avatar/delete">Удалить аватары</a>
            <input type='submit' class='avatar-change-button' value='Установить'>
        </form>
    {% endif %}
	<p>Добавить аватар</p>
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}" id="avatar-addition-form">
        {{ upload_avatar_form }}
        {% csrf_token %}
		<label for='id_avatar' class='upload-avatar'>Выбрать изображение</label>
		<p class='avatar-addition-attention'>Сайт автоматически обрезает загружаемые изображения. Рекомендуем загружать квадратные фотографии</p>
        <input type='submit' value='Добавить'>
    </form>
	<a href="/main/profile" class='avatar-to-profile'>Вернуться в профиль</a>
</div>

{% include 'main/footer.html' %}