{% load avatar_tags %}
{% include 'main/header.html' %}

<div class='avatar-back'>
	<h1>Удаление аватара</h1>
	<p>Выберите аватары, которые желаете удалить</p>
	{% if not avatars %}
		{% url 'avatar_change' as avatar_change_url %}
		<p>You have no avatars to delete. Please <a href="{{ avatar_change_url }}">upload one</a> now.</p>
		{% else %}
		<form method="POST" action="{% url 'avatar_delete' %}" id='avatar-delete-form'>
			{% for field in delete_avatar_form %}
				{% for choice in field %}
					{{ choice }}
				{% endfor %}
			{% endfor %}
			<br>
			{% csrf_token %}<input type="submit" value="Удалить" />
		</form>
		{% endif %}
		<a href="/main/avatar/change" class='to-avatar'>Вернуться</a>
</div>

{% include 'main/footer.html' %}