{% load static %}
</div>
<div class='main_separator'></div>
</div>
<div class='footer'>
	<div class='copyright'>
		&copy;  2019  BowLingvo team<br>All rights reserved<br><span>По всем вопросам обращайтесь на bowlingvo@mail.ru</span>
	</div>
	<div class='ref-container'>
	<div class='reference'>
			Logic by
			<a href='https://instagram.com/phantom_verse'><image src='{% static "main/images/PTM.png" %}' alt='Phantom'></a>
		</div>
		<div class='reference'>
			Design by
			<a href='https://instagram.com/voltrix39'><image src='{% static "main/images/VX.png" %}' alt='Voltrix'></a>
		</div>
	</div>
</div>
<script defer src="{% static 'main/script.js' %}"></script>