{% include "main/header.html" %}

<div>Фрейм {{ cur_frame }} из {{ max_frames }}</div>
<div id='all-tasks' class="frame-back">
    {% for task in tasks %}
        {% with cur_val=forloop.counter %}
            <div id="task{{ cur_val }}" class="task" tasktype="{{ task.tasktype }}">
                {% if task.type == 'input' %}
                    {{ task.text.0 }}{{ task.text.1 }}{{ task.text.2 }}<div class="sep"></div>{{ task.text.3 }}_____{{ task.text.4 }}
                    <input autofocus type='text' id='user-answer-{{ cur_val }}' ans-type="input" class='answer-text'>
                {% else %}
                    {{ task.text.0 }}
                    <select id="user-answer-{{ cur_val }}" ans-type="select">
                    {% for choice in task.choices %}
                       <option value="{{ choice }}">{{ choice }}</option>
                    {% endfor %}
                    </select>
                {% endif %}
            </div>
        {% endwith %}
    {% endfor %}
    <button id='throw-button' onclick="game.check()">1 бросок</button>
</div>
<div hidden id="finish-frame"><div id="score"></div><a href="{% url 'game' language_name=language %}">Дальше</a></div>
<div hidden id="encoded">{{ encoded }}</div>
<div hidden id="url_par">{{ language }}</div>
<script>
    function getCSRF() {
        return '{{ csrf_token }}'
    }
</script>

{% include "main/footer.html" %}