{% load static %}
<head>
    <meta charset="utf-8">
    <title>BowLingvo</title>
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="{% static 'main/images/favicon.ico' %}" rel="shortcut icon">
    <link rel="stylesheet" href="{% static 'main/index.css' %}" type="text/css">
</head>