{% load static %}
{% load avatar_tags %}
{% include "main/head.html" %}
<div class="container">
    <div class="header">
        <a href="/main/"><img id='logo' src="{% static 'main/images/logo.png' %}" alt="bowlingvo logo"></a>
        <a href="/main/"><div id="brand">BowLingvo</div></a>
        {% if user.is_authenticated %}
            {% if not is_profile %}
                <input type='text' id='submenu-position'>
                <div id="user"><label for='submenu-position'>{{ user.username }}</label>
                    <div class='header-submenu'>
                        <a href='/main/profile'>Профиль</a>
						<div></div>
                        <a href='/main/do-logout'>Выход</a>
		            </div>
                </div>
                <label for='submenu-position' class='label-submenu-avatar'>{% avatar user id='header-avatar' %}</label>
            {% endif %}
        {% else %}
            <a href="/main/register" id="register-button">Регистрация</a>
            <a href="/main/login" id="login-button">Вход</a>
        {% endif %}
    </div>
    <div class="content">