{% load static %}
{% include "main/header.html" %}

<div class='content'>
	<h1 class='greetings'>Добро пожаловать</h1>
    <div class='course'>
        Выберите курс
    </div>
    <div class='languages'>
        {% for language in languages %}
		<div class='lang'><a href="{% url 'language' language_name=language.url_name %}">
			<div class='flag'>
                {% with 'main/images/'|add:language.url_name|add:'-flag.png' as flag_image %}
                <img src="{% static flag_image %}" alt='language flag' class='flag-icon'>
                {% endwith %}
			</div
			><div class='language-name'>
				{{ language.name }}
            </div>
        </a></div>
        {% endfor %}
    </div>
</div>

{% include "main/footer.html" %}