{% load static %}
{% include "main/header.html" %}
<div class="language">
    {{ language.name }}
</div>
<div class='all-sections'>
    <div class='type-choices'>
        <div id='lex-button' onclick="show_lex()">Лексика</div>
        <div id='gram-button' onclick="show_gram()">Грамматика</div>
    </div>
    <div id='lex-sections'>
        {% for section in lex_sections %}
        <a href="{% url 'section' language_name=language.url_name section_name=section.url_name %}"><div class='lex-sec'>
            <div class='sec-logo'>
			</div>
            <div class='sec-name'>
                {{ section.name }}
            </div>
        </div></a>
        {% endfor %}
    </div>
    <div hidden id='gram-sections'>
        {% for section in gram_sections %}
		<a href="/main/{{ language.url_name }}/{{ section.url_name }}"><div class='gram-sec'>
			<div class='sec-name'>
                {{ section.name }}
			</div>
			<div class='sec-url'>
				Выбрать
			</div>
		</div></a>
		<div class='gram-path'>
			<div class='gram-path-left'>˅</div>
			<div class='gram-path-right'>˅</div>
		</div>
        {% endfor %}
    </div>
</div>
{% include "main/footer.html" %}