{% include "main/header.html" %}

<div class='path'>
	<div class='go-back'><a href="{% url 'section' language_name=language.url_name section_name=section.url_name %}"><</a></div>
	<div class='page-name'>
		{{ lesson_name }}
	</div>
</div>

<div class="lesson-back">
    <div id="all-tasks">
        <div class="start" id="task0">
            {% for task in tasks %}
			<div class='words'>
                <div>{{ task.word }}</div
				><div>{{ task.answer }}</div>
			</div>
            {% endfor %}
        </div>
        {% for task in tasks %}
            {% with cur_val=forloop.counter %}
            <div hidden class="task" id="task{{ cur_val }}" answer="{{ task.answer }}">
                <div class='question'>{{ task.word }}</div>
                <div class="answer">
                    {% if task.type == 'input' %}
                        <div class='answer-text'><input autofocus type="text" name="user-answer-{{ cur_val }}"></div>
                    {% else %}
                        {% for var in task.choices %}
                            <div><label><input type="radio" name="user-answer-{{ cur_val }}" value="{{ var }}"><span class='radio'></span><span class='label-radio'>{{ var }}</span></label></div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endwith %}
        {% endfor %}
		<div hidden id="correct-answer">Верно</div>
        <div hidden id="wrong-answer">
            Неверно
            <div id="your-answer"></div>
            <div id="expected-answer"></div>
        </div>
        <button id="task-button" onclick="lesson.getNext()">Начать</button>
    </div>
    <div hidden class="finish" id="finish">
        <p>Вы закончили урок</p>
        <p>Ваши очки:</p>
        <div id="lesson-score"></div>
        <form action="{% url 'lesson' language_name=language.url_name section_name=section.url_name lesson_order=lesson.order %}" method="post">
            {% csrf_token %}
            <input hidden name="score" type="text" id="score-input">
            <input type="submit" id='finish-button' value="Завершить">
        </form>
    </div>
</div>

{% include "main/footer.html" %}