{% include "main/header.html" %}

<div class='page-head'>
    <div class='go-back'><a href="{% url 'section' language_name=language.url_name section_name=section.url_name %}"><</a></div>
    <div class='page-name'>
        {{ section.name }} {{ lesson.order }}
    </div>
</div>

<div class='lesson-content'>
    <div id='all-tasks'>
        <div id='task0'>
            {% if type == 'L' %}
    			<div class='subheader'>Слова к уроку</div>
                {% for theory_unit in theory %}
                <div class='word'>
                    <div>{{ theory_unit.for_sing }}</div>
                    <div>{{ theory_unit.rus_sing }}</div>
                    <div>{{ theory_unit.for_plur }}</div>
                    <div>{{ theory_unit.rus_plur }}</div>
                </div>
                {% endfor %}
            {% else %}
                {% autoescape off %}
                {{ theory }}
                {% endautoescape %}
            {% endif %}
        </div>
        {% for task in tasks %}
        {% with cur_val=forloop.counter %}
        <div hidden class='task' id='task{{ cur_val }}' answer='{{ task.answer }}'>
            <div class='target'>
                {% if task.type == 'input' %}
                    <div>Введите слово в нужной форме</div>
                    {% if type == 'L' %}
                        {{ task.text.0 }}{{ task.text.1 }}{{ task.text.2 }}<br>
                        {{ task.text.3 }}_____{{ task.text.4 }}
                    {% else %}
                        {{ task.text.0 }}_____{{ task.text.1 }}
                    {% endif %}
                {% else %}
                    {% if type == 'L' %}
					    <div>Выберите правильный перевод слова</div>
                    {% else %}
                        <div>Выберите правильный ответ</div>
                    {% endif %}
                    {{ task.text.0 }}
                {% endif %}
            </div>
			<div class='answer'>
				{% if task.type == 'input' %}
				<input autofocus type='text' name='user-answer-{{ cur_val }}' class='answer-text'>
				{% else %}
                {% for var in task.choices %}
                <div><label><input type='radio' name='user-answer-{{ cur_val }}' value='{{ var }}' class='radio'><span class='label-radio'>{{ var }}</span></label></div>
                {% endfor %}
				{% endif %}
			</div>
        </div>
        {% endwith %}
        {% endfor %}
        <div class='navig'>
			<div hidden id='correct-answer'>Верно</div>
			<div hidden id='wrong-answer'>
				Неверно
				<div id='your-answer'></div>
				<div id='expected-answer'></div>
			</div>
			<button id='task-button' onclick='lesson.getNext()'>Начать</button>
		</div>
	</div>
    <div hidden class='finish' id='finish'>
        <p>Вы закончили урок</p>
        <p>Ваши очки:</p>
        <div id='lesson-score'></div>
        <form action="{% url 'lesson' language_name=language.url_name section_name=section.url_name lesson_order=lesson.order %}" method='post'>
            {% csrf_token %}
            <input hidden name='score' type='text' id='score-input'>
            <input type='submit' id='finish-button' value='Завершить'>
        </form>
    </div>
</div>

{% include "main/footer.html" %}