{% include "main/head.html" %}
{% include "main/header.html" %}
<div class="content">
    <div class="back">
        <div class="error_message">{% if error_message %}{{ error_message }}{% endif %}</div>
        <form action='/main/do-login' method="post">
            {% csrf_token %}
            <div class="fields">
                <table>
                    <tr>
                        <td>username</td>
                        <td><input type="text" name="username"></td>
                    </tr>
                    <tr>
                        <td>password</td>
                        <td><input type="password" name="password"></td>
                    </tr>
                </table>
            </div>
            <div class="login_submit"><input class="submit" type="submit" value="LOGIN"></div>
        </form>
    </div>
</div>
{% include "main/footer.html" %}
