{% include "main/head.html" %}
{% include "main/header.html" %}
<div class="back">
    <form action="{{ app_path }}" method="post" id="login-form">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="login_submit"><input class="submit" type="submit" value="Вход"></div>
    </form>
</div>
{% include "main/footer.html" %}