<h1>Welcome, {{ username }}</h1>
<p>Please, fill the form:</p>
<form action='app/results' method="post">
    {% csrf_token %}
    Name:
    <input type="text" name="name"><br>
    Age:
    <input type="text" name="age"><br>
    Gender:<br>
    <input type="radio" name="gender" value="male">male<br>
    <input type="radio" name="gender" value="female">female<br>
    Favourite color:
    <select name='color'>
    {% for key, value in colors.items %}
        <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Send">
</form>