{% include "main/header.html" %}

{% if validlink %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">
    {% csrf_token %}
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
        <label for="id_new_password1">New password:</label>
        {{ form.new_password1 }}
        <label for="id_new_password2">Confirm password:</label>
        {{ form.new_password2 }}
    <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% include "main/footer.html" %}