{% load static %}
{% load avatar_tags %}

{% include "main/header.html" %}

<div class='profile-back'>
    <div class='profile-first'>
        <a href='/main/avatar/change' class='profile-avatar'>{% avatar user 194 %}</a>
        <div class='user-info'>
            <div class='nick'>
				<div class='nickname'>{{ user.username }}</div>
				<a href="/main/edit-profile"><img src="{% static 'main/images/edit-1.png' %}"></a>
				<a href="/main"><img src="{% static 'main/images/home.png' %}"></a>
				<a href="/main/do-logout"><img class='logoutimg' src="{% static 'main/images/exit-2.png' %}"></a>
			</div>
			<div class='information'>
				<table>
					<tr>
						<td>Email:</td>
						<td>{{ user.email }}</td>
					</tr>
					<tr>
						<td>Последний раздел:</td>
						<td>...</td>
					</tr>
					<tr>
						<td>Последний язык:</td>
						<td>{{ profile.last_lang }}</td>
					</tr>
				</table>
			</div>
        </div>
    </div>
    <div class='profile-second'>
		<div class='profile-score'>
			<div class='score-label'>Очки</div>
			<div class='score-value'>{{ profile.score }}</div>
        </div>
        <div class='last-lessons'>
            <div class='lessons-label'>Последние уроки</div>
            <div class='lessons-units'>
                {% for lesson in last_lessons %}
                <div class='lesson-unit'>
					{% with 'main/images/'|add:lesson.section.language.url_name|add:'-flag.png' as flag_image %}
						<div style='background-image: url({% static flag_image %}); background-size: cover' class='lesson-flag'>
						</div>
					{% endwith %}
					<div class='lesson-name'>{{ lesson }}</div>
				</div>
                {% endfor %}
           </div>
        </div>
    </div>
</div>

{% include "main/footer.html" %}