{% include "main/header.html" %}
<div class="back">
    <form action="{{ app_path }}" method="post" id="register-form">
        {% csrf_token %}
        <div class="fields">
            {{ form.errors }}
            {{ form.username }}
            {{ form.email }}
            {{ form.password1 }}
            {{ form.password2 }}
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
        <div class="login_submit"><input class="submit" type="submit" value="Sign up"></div>
    </form>
</div>
{% include "main/footer.html" %}