{% include "main/header.html" %}

<div class='path'>
    <a href="/main/" class='main'><span>⌂</span></a><a href="{% url 'language' language_name=language.url_name %}">{{ language.name }}</a><span>▸</span>{{ section.name }}
</div>

<div id='lex-lessons'>
    {% for lesson, ability in lessons %}
	<div class='{{ ability }} lex-lesson-path'>
		>
	</div>
	<div class='{{ ability }} lex-lesson'>
		{% if ability == 'finished' %}
            <a href="{% url 'lesson' language_name=language.url_name section_name=section.url_name lesson_order=lesson.order %}">
        {% elif ability == 'active' %}
            <a href="{% url 'lesson' language_name=language.url_name section_name=section.url_name lesson_order=lesson.order %}">
        {% endif %}
			<div class='lex-lesson-name'>
				{{ lesson }}
			</div>
			<div class='lesson-start-button'>
			{% if ability == 'finished' %}
				Повторить
			{% elif ability == 'active' %}
				Начать
			{% else %}
				Недоступен
			{% endif %}
			</div>
        </a></div>
    {% endfor %}
</div>

{% include "main/footer.html" %}