{% include "main/header.html" %}

<table>
    <tr>
        {% for lesson, ability in lessons %}
            <td><div class="{{ ability }}">{{ lesson }}
                <div class="lesson-start-button">
                {% if ability == 'finished' %}
                    <a href="#">Повторить</a>
                {% elif ability == 'active' %}
                    <a href="#">Начать</a>
                {% else %}
                    Недоступен
                {% endif %}
                </div>
            </div></td>
        {% endfor %}
    </tr>
</table>

{% include "main/footer.html" %}