{% include "main/header.html" %}

<div class='page-head'>
	<div class='go-back'><a href="{% url 'language' language_name=language.url_name %}"><</a></div>
	<div class='page-name'>{{ language.name }}</div>
</div>

<div class='game-lobby'>
	<h1>Игра</h1>
	{% if locked %}
		<h2>Игра доступна только после прохождения как минимум 1 секции</h2>
	{% else %}
		<h2>Введите число фреймов, которое хотели бы пройти</h2>
		<h4 style="text-align: center">Фрейм - боулинговый термин. Этап игры, установка новых 10 кеглей</h4>
		<h6 style="text-align: center">Cтоимость игры - 20 очков</h6>
		<div class='error'>{{ error_message }}</div>
		<form action="{% url 'startgame' language_name=language.url_name %}" method="post">
			{% csrf_token %}
			<input type="text" name="frames" class='frames-number'>
			<input type="submit" value="Начать игру" class='start-button'>
		</form>
	{% endif %}
	<a href="{% url 'language' language_name=language.url_name %}" class='game-return'>Вернуться назад</a>
</div>

{% include "main/footer.html" %}