{% include "main/header.html" %}

<div class="content"><p>Значение bold устанавливает жирное начертание текста, а italic — курсивное.
В данном случае их порядок не важен, поэтому bold и italic можно поменять местами.
Размер текста задается в процентах, а в качестве гарнитуры используется шрифт с засечками (serif).</p>
<p class="font-test">Значение bold устанавливает жирное начертание текста, а italic — курсивное.
В данном случае их порядок не важен, поэтому bold и italic можно поменять местами.
Размер текста задается в процентах, а в качестве гарнитуры используется шрифт с засечками (serif).</p>
</div>

{% include "main/footer.html" %}